{% extends "base.html" %}

{% block body %}

    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
        <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Product Information</p>
        <form class="mx-1 mx-md-4" action="" method="post">
            <label for="name" class="text-right mb-5 mx-1 mx-md-4 mt-4 "><b>Name:</b></label>
            <input type="text" id="name" name="name" value="{{ product.getName }}" required><br>
            <label for="category" class="text-right mb-5 mx-1 mx-md-4 mt-4"><b>Category:</b></label>
            <select id="category" name="category">
                <option value="Footwear">Footwear</option>
                <option value="Clothing">Clothing</option>
                <option value="Accessories">Accessories</option>
            </select><br>
            <label for="quantity" class="text-right mb-5 mx-1 mx-md-4 mt-4"><b>Quantity:</b></label>
            <input type="text" id="quantity" name="quantity" value="{{ product.getQuantity }}" required><br>
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <input type="submit" id="submit" name="submit" value="Save" class="btn btn-primary btn-lg"><br><br>
            </div>
        </form>
    </div>

{% endblock %}